
  <div class="jumbotron">
    <h1>Create a Wiki</h1>
  </div>   


  <%= render partial: 'form', locals: { user: @user, wiki: @wiki} %>
  
  
  <!-- newly created wikis are not being associated with their creator?  they appear in index but user who created
  it cannot delete it and it is not listed in your wiki index, new wikis not getting user ids-->